$bg-color: #fff;
$break-small: 700px;

html, body{
	background: $bg-color;
	height: 100%;
	margin: 0;
}
.game{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: auto;
}
.instruct{
	font-family: "Arial Black";
	padding-bottom: 20px;
}
.btnwrap{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px 0 15px 0;
}

.choose{
	background-color: #fff;
	border: solid 2px #4CAF50;
	border-radius: 5px;
	color: #000;
	font-family: "Arial Black";
	padding: 10px 32px;
	margin-right: 5px;
	text-align: center;
	font-size: 18px;

	&:hover{
		background-color: #4CAF50;
		color: #fff;
	}
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.wintxt{
	text-align: center;
	font-family: "Arial Black";
}
#wintxt1, #wintxt2, #drawtxt{
	display: none;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;

		&:hover,:focus{
			color: #000;
    	text-decoration: none;
    	cursor: pointer;
		}
}

.grid{
	display: flex;
	align-items: center;
  justify-content: center;
}
.column{
	display: inline-block;
}
.field{
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #000;
	width: 100px;
	height: 100px;
	margin: 2px;

	&:hover{
		background: #bfc4cc;
	}
}

.cellX{
	text-align: center;
	font-family: "Arial Black";
	font-size: 36px;
	color: #e22b43;
}
.cellO{
	text-align: center;
	font-family: "Arial Black";
	font-size: 36px;
}
